/*-----------------------------------Home Page-------------------------*/
*{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h1{
    text-align: center;
    display: block;
    margin-left: 27%;
    margin-right: 27%;
}

p{
    text-align: center;
    margin-top: 20px;
    margin-left: 32%;
    margin-right: 32%;
}

img{
    float: left;
}

.c1{
    width: 40%;
    height: 20%;
    opacity: 0.9;
    margin-left: -200px;
    margin-top: 0px;
    overflow: hidden;
}

.c2{
    margin: 5%;
    opacity: 0.5;
    width: 40%;
    margin-left: -300px;
    margin-top: 100px;
    overflow: hidden;
    position: absolute;
}


/*
@media only screen and (max-width: 100) {
    img, .c1, .c2{
     margin: auto;
     height: auto;
    }
  }
  */


  input[type=email], select, textarea {
    width: 85%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size:medium;
    
  }
  
  input[type=submit] {
    background-color: #773BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    
  }
  
  input[type=submit]:hover {
    background-color:black;
  }
  
  .container1 {
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px #f1f1f1;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 30px;
    padding-top: 10px;
  }


@media only screen and (max-width: 500) {
    .container{
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 1250px) {
    .GetStart{
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 900px) {
    .c1{
        height: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 900px) {
    .c2{
        
        width: 75%;
        position: absolute;
}
}